body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  min-width: 51%;
}
input {
  width: 80%;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

  background: transparent;
  border: none;
}

div.back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.error {
  color: red;
}
