.sign-up {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;

  padding: 20px;

  background-color: #ffffff;
}

.sign-up-success {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
  width: 80%;
  max-width: 800px;
}