.login {
  position: fixed;
  top: 10vh;
  left: 20vw;
  right: 20vw;

  padding: 20px;

  background-color: #ffffff;
}

.loginPage {
  width: 50%;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
}

