h3 span {
  margin-left: 1em;

  font-size: 0.5em;
  color: gray;
}

.news-item {
  margin: 1em 0;
  padding: 0 1em 1em;
  border: 1px solid #000000;
  border-radius: 10px;
}

.news-text{
margin-bottom: 0;
}